/*selects multiple elements*/
h1,
h2 {
    text-align: center;
    /* letter bolding */
    font-weight: 400;
    text-decoration: #f78120 underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
    /* second is a backup */
    font-family: 'Segoe UI', Verdana, sans-serif, sans-serif;
}

a {
    /* removes underline */
    text-decoration: none;
    color: #a614369b;
}

* {
    background-color: pink;
}