h1 {
    text-align: center;
    /* letter bolding */
    font-weight: 400;
    text-decoration: #f78120 underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
}

a {
    /* removes underline */
    text-decoration: none;
    color: #a614369b;
}